[Record]
exp_folder: ../exps/$EXP_NAME
data_folder: $DATA_PATH

[Params]  
lr: 0.001
start_iteration: 0
total_iteration: 30000
save_weight_iteration: 1000

# chocies=["ortho6d", "Quaternion", "svd9d", "axisangle", "euler", "10d"]
out_rotation_mode: $MODE

# chocies=[0, 1]. help = "our RPMG only support ortho6d, Quaternion, svd9d and 10d!"
use_rpmg: $RPMG_FLAG
            
# # chocies=[1, 2, 3, 4, 5, 6] help= "1,2,3 is for L2 loss. 4 is for Tsau_gt. 5 is for geodesic loss. 6 is for flow loss. For specific strategies, please see train.py"
rpmg_tau_strategy: $TAU_STRATEGY        
rpmg_lambda: 0.01         
batch:20                    
sample_num:1024
device: 0


