[Record]
exp_folder: ../exps_self/$EXP_NAME

[Params]  
lr: 0.001
start_iteration: 0
total_iteration: 30000
save_weight_iteration: 1000

# chocies=["ortho6d", "Quaternion", "svd9d", "axisangle", "euler", "10d"]
out_rotation_mode: $MODE

# chocies=[0, 1]. help = "our RPMG only support ortho6d, Quaternion, svd9d and 10d!"
use_rpmg: $RPMG_FLAG

# chocies=[1, 2] help="1 means Tau_gt; 2 means Tau=2"
rpmg_tau_strategy: $TAU_STRATEGY         
rpmg_lambda: 0.01         
batch:20                    
sample_num:1024
device: 0


